@model  WebApp.ViewModels.CreatePublicationModel

<div>Продажа @Html.RadioButtonFor(m => m.IsRent, false, new { @checked = "checked" }) Сдача @Html.RadioButtonFor(m => m.IsRent, true)</div>
<div>Количество комнат @Html.EditorFor(m => m.RoomAmount)</div>
<div>Общая площадь @Html.EditorFor(m => m.TotalArea)</div>
<div>Жилая площадь @Html.EditorFor(m => m.LivingArea)</div>
<div>Площадь кухни @Html.EditorFor(m => m.KitchenArea)</div>
<div>Площадь участка @Html.EditorFor(m => m.PropertyArea)</div>
<div>Год постройки @Html.EditorFor(m => m.YearOfConstruction)</div>
<div>Тип дома @Html.DropDownListFor(m => m.WallMaterialId, ViewBag.WallMaterials as SelectList)</div>
<div>Возможность обмена @Html.CheckBoxFor(m => m.CanExchange)</div>
<div>Рядом метро @Html.CheckBoxFor(m => m.IsSubwayNear)</div>