@model WebApp.ViewModels.CreatePublicationModel
@{
    ViewBag.Title = "CreatePublication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/MyScripts/CreatePublication.js"></script>
<script defer src="https://api-maps.yandex.ru/2.0/?apikey=271bbac4-94da-43a8-b5a4-90fa6966b4d0&load=package.full&lang=ru-RU" type="text/javascript"></script>
<script defer src="~/Scripts/MyScripts/CreatePublicationMap.js"></script>

<div class="publcontent">
    @using (Html.BeginForm("CreatePublication", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.UserId);
        @Html.HiddenFor(m => m.Coordinates);
        <div>Тип недвижимости  @Html.DropDownListFor(m => m.PropertyTypeId, ViewBag.PropertyTypes as SelectList, new { @id = "proptype" })</div> <br />
        <div id="propcontent">
            @Html.Action("ContentForFlat")
        </div>
        <div style="margin-top:5px;">
            @Html.TextBoxFor(m => m.Files, new { type = "file", multiple = "multiple", name = "Files", accept = "image/x-png,image/gif,image/jpeg" })
        </div>
        <div style="margin-top:5px;">Описание @Html.EditorFor(m => m.Description)</div>
        <div>@Html.ValidationMessageFor(m => m.Description)</div>
        <div style="margin-top:5px;">Цена @Html.EditorFor(m => m.Cost) $</div>
        <div>@Html.ValidationMessageFor(m => m.Cost)</div>
        <div style="margin-top:5px;">Адрес @Html.EditorFor(m => m.Address, new { htmlAttributes = new { style = "width: 450px;", @readonly = "readonly" } })</div>
        <div id="yandexMap" style="width:600px; height:600px; margin-top:5px;"></div>
        <input type="submit" value="Готово." style="margin-top:5px;" />
        <div>
            @Html.ValidationSummary(true)
        </div>
    }
</div>

