@model  WebApp.Models.Publication

@if (Model.IsRent)
{
    <div>Сдача</div>
}
else
{
    <div>Продажа</div>
}
<div>Этаж @Html.DisplayFor(m => m.Floor) </div>
<div>Количество комнат @Html.DisplayFor(m => m.RoomAmount)</div>
<div>Общая площадь @Html.DisplayFor(m => m.TotalArea)</div>
<div>Жилая площадь @Html.DisplayFor(m => m.LivingArea)</div>
<div>Площадь кухни @Html.DisplayFor(m => m.KitchenArea)</div>
<div>Тип дома @Html.DisplayFor(m => m.BlockOfFlatsType.Content)</div>
<div>Санузел @Html.DisplayFor(m => m.BathroomType.Content)</div>
<div>Тип балкона @Html.DisplayFor(m => m.BalconyType.Content)</div>
<div>Год постройки @Html.DisplayFor(m => m.YearOfConstruction)</div>
@if (Model.IsSubwayNear)
{
    <div>Метро рядом</div>
}
else
{
    <div>Рядом нет метро</div>
}
<div>Цена @Html.DisplayFor(m => m.Cost) $</div>