@model WebApp.Models.Publication
@{
    ViewBag.Title = Model.Address.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/MyScripts/Publication.js"></script>
<link href="@Url.Content("~/Content/MyCSS/Publication.css")" rel="stylesheet" type="text/css" />

@Html.HiddenFor(m=>m.PropertyTypeId,new { @id="proptype"})
@Html.HiddenFor(m=>m.Id, new { @id="publId"})
@Html.HiddenFor(m=>m.AmountOfPageViews, new { @id="amountOfViews"})
<div class="publoutergrid">
    <div class="publcontent publinnergrid">
        <div class="publimage" style="width:350px; height:400px;">
            <div class="arrowbutton left"><img src="~/Images/Resources/rightarrowgrey.png" style="width:50px; height:50px;"/></div>
            <img id="image" align="middle" src="~/Images/Publication/@Model.Id/1.jpg"/>
            <div class="arrowbutton right"><img src="~/Images/Resources/rightarrowgrey.png" style="width:50px; height:50px;"/></div>
        </div>
        <div id="properties" class="publproperties">properties</div>
        <div class="publdesk">@Html.DisplayFor(m => m.Description)</div>
    </div>
    <div>
        <div class="userinfo publcontent" style="height: 150px;">
            <div align="center">@Html.DisplayFor(m => m.User.Name)</div>
            <div align="center" style="margin-top:5px;">@Html.DisplayFor(m => m.User.Phone)</div>
        </div>
        <a class="publcontent" href="/Message/Chat?id=@Model.UserId" style="height: 25px; display:block; margin-top:10px; text-align:center;">Написать</a>
        <div id="viewsAmount" style="height:14px; position:relative;"><img src="~/Images/Resources/eye.png"/><span>@Model.AmountOfPageViews</span></div>
    </div>
</div>


