@model WebApp.Models.Publication
@{
    ViewBag.Title = Model.Id.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/MyScripts/Publication.js"></script>
<link href="@Url.Content("~/Content/MyCSS/Publication.css")" rel="stylesheet" type="text/css" />

@Html.HiddenFor(m=>m.PropertyTypeId,new { @id="proptype"})
@Html.HiddenFor(m=>m.Id, new { @id="publId"})
@Html.HiddenFor(m=>m.AmountOfPageViews, new { @id="amountOfViews"})
<div class="publoutergrid">
    <div class="publcontent publinnergrid">
        <div class="publimage" style="width:350px; height:400px;">
            <div class="arrowbutton left">&lt;</div>
            <img id="image" src="~/Images/Publication/@Model.Id/1.jpg" align="middle"/>
            <div class="arrowbutton right">&gt;</div>
        </div>
        <div id="properties" class="publproperties">properties</div>
        <div class="publdesk">@Html.DisplayFor(m => m.Description)</div>
    </div>
    <div>
        <div class="userinfo publcontent" style="height: 300px;">
            <div>@Html.DisplayFor(m => m.User.Name)</div>
            <div>@Html.DisplayFor(m => m.User.Phone)</div>
        </div>
        <a href="/Message/Chat?id=@Model.UserId">
            <div class="publcontent" style="height: 50px;">
                Написать
            </div>
        </a>
        <div id="viewsAmount" style="height:14px; position:relative;"><img src="~/Images/Resources/eye.png"/><span>@Model.AmountOfPageViews</span></div>
    </div>
</div>


