@model PagedList.IPagedList<WebApp.Models.Publication>
@using PagedList.Mvc;
<link href="@Url.Content("~/Content/MyCSS/Browse.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script defer src="~/Scripts/MyScripts/BrowseFilter.js"></script>
@{
    ViewBag.Title = "Обзор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="publcontent">
        @Html.Label("Тип публикации")
        @Html.DropDownList("propertyType", ViewBag.PropertyTypes as SelectList, new { @id = "filterType" })

        <div id="outerFilter"></div>
        @Html.Action("BrowseFilterCost")
        <input type="submit" value="Поиск" />
    </div>
}

@foreach (var item in Model)
{
    <div align="center">
        <a href="/Home/Publication?id=@item.Id.ToString()">
            <div class="publgrid publcontent">
                <div class="publimage"><img src="~/Images/Publication/@item.Id/1.jpg" width="150" height="150"/></div>
                <div class="publaddress">@Html.DisplayFor(m => item.Address)</div>
                <div class="publdata">@Html.DisplayFor(m => item.PostTime)</div>
            </div>
        </a>
    </div>
}
<div align="center">
    @Html.PagedListPager(Model, page => Url.Action("Browse", new { page }))
</div>