@model WebApp.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="publcontent">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.Label("Имя")
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.Label("E-mail")
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            @Html.Label("Пароль")
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            @Html.Label("Подтверждение пароля")
            @Html.EditorFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div>
            <input type="submit" value="Зарегистрировать" />
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
    }
</div>

